<div id="<%= dom_id data_capturing %>" class="border rounded-md p-4 mb-4">
  <p class="mb-2">
    <strong class="font-bold">Project number:</strong>
    <%= data_capturing.project_number %>
  </p>

  <p class="mb-2">
    <strong class="font-bold">Full name:</strong>
    <%= data_capturing.full_name %>
  </p>

  <p class="mb-2">
    <strong class="font-bold">Age:</strong>
    <%= data_capturing.age %>
  </p>

  <p class="mb-2">
    <strong class="font-bold">School:</strong>
    <%= data_capturing.school %>
  </p>

  <p class="mb-2">
    <strong class="font-bold">Participant class:</strong>
    <%= data_capturing.participant_class %>
  </p>

  <p class="mb-2">
    <strong class="font-bold">Course:</strong>
    <%= data_capturing.course %>
  </p>

  <p class="mb-2">
    <strong class="font-bold">Programme:</strong>
    <%= data_capturing.programme %>
  </p>

  <p class="mb-2">
    <strong class="font-bold">Level:</strong>
    <%= data_capturing.level %>
  </p>

  <p class="mb-2">
    <strong class="font-bold">Contact number:</strong>
    <%= data_capturing.contact_number %>
  </p>
</div>
