<div id="<%= dom_id data_capturing %>">
  <p>
    <strong>Project number:</strong>
    <%= data_capturing.project_number %>
  </p>

  <p>
    <strong>Full name:</strong>
    <%= data_capturing.full_name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= data_capturing.age %>
  </p>

  <p>
    <strong>School:</strong>
    <%= data_capturing.school %>
  </p>

  <p>
    <strong>Participant class:</strong>
    <%= data_capturing.participant_class %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= data_capturing.course %>
  </p>

  <p>
    <strong>Programme:</strong>
    <%= data_capturing.programme %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= data_capturing.level %>
  </p>

  <p>
    <strong>Contact number:</strong>
    <%= data_capturing.contact_number %>
  </p>

</div>
