<%= form_with(model: data_capturing) do |form| %>
  <% if data_capturing.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(data_capturing.errors.count, "error") %> prohibited this data_capturing from being saved:</h2>

      <ul>
        <% data_capturing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :project_number, style: "display: block" %>
    <%= form.number_field :project_number %>
  </div>

  <div>
    <%= form.label :full_name, style: "display: block" %>
    <%= form.text_area :full_name %>
  </div>

  <div>
    <%= form.label :age, style: "display: block" %>
    <%= form.number_field :age %>
  </div>

  <div>
    <%= form.label :school, style: "display: block" %>
    <%= form.text_area :school %>
  </div>

  <div>
    <%= form.label :participant_class, style: "display: block" %>
    <%= form.text_area :participant_class %>
  </div>

  <div>
    <%= form.label :course, style: "display: block" %>
    <%= form.text_area :course %>
  </div>

  <div>
    <%= form.label :programme, style: "display: block" %>
    <%= form.text_area :programme %>
  </div>

  <div>
    <%= form.label :level, style: "display: block" %>
    <%= form.number_field :level %>
  </div>

  <div>
    <%= form.label :contact_number, style: "display: block" %>
    <%= form.number_field :contact_number %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
