<%= form_with(model: data_capturing) do |form| %>
  <% if data_capturing.errors.any? %>
    <div class="text-red-500">
      <h2><%= pluralize(data_capturing.errors.count, "error") %> prohibited this data_capturing from being saved:</h2>

      <ul>
        <% data_capturing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :project_number, class: "block" %>
    <%= form.number_field :project_number, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
  </div>

  <div class="mb-4">
    <%= form.label :full_name, class: "block" %>
    <%= form.text_area :full_name, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
  </div>

  <div class="mb-4">
    <%= form.label :age, class: "block" %>
    <%= form.number_field :age, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
  </div>

  <div class="mb-4">
    <%= form.label :school, class: "block" %>
    <%= form.text_area :school, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
  </div>

  <div class="mb-4">
    <%= form.label :participant_class, class: "block" %>
    <%= form.text_area :participant_class, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
  </div>

  <div class="mb-4">
    <%= form.label :course, class: "block" %>
    <%= form.text_area :course, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
  </div>

  <div class="mb-4">
    <%= form.label :programme, class: "block" %>
    <%= form.text_area :programme, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
  </div>

  <div class="mb-4">
    <%= form.label :level, class: "block" %>
    <%= form.number_field :level, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
  </div>

  <div class="mb-4">
    <%= form.label :contact_number, class: "block" %>
    <%= form.number_field :contact_number, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
  </div>

  <div>
    <%= form.submit class: "bg-indigo-500 text-white px-4 py-2 rounded-md hover:bg-indigo-600 focus:outline-none focus:border-indigo-700 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
  </div>
<% end %>
