<div id="<%= dom_id report %>">
  <p>
    <strong>Project number:</strong>
    <%= report.try(:project_number) %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= report.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= report.age %>
  </p>

  <p>
    <strong>School:</strong>
    <%= report.school %>
  </p>

  <p>
    <strong>Participant class:</strong>
    <%= report.participant_class %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= report.course %>
  </p>

  <p>
    <strong>Programme:</strong>
    <%= report.programme %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= report.level %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= report.contact %>
  </p>
</div>
